7.1 HW Questions
Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.
Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.
Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.
Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?

QUESTION (1):
Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.
ANSWER: 
SELECT ModelYear, Make, AND Model
FROM EVRegistry

QUESTION (2)
Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.
ANSWER:
SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

QUESTION (3)
Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.
ANSWER:
SELECT *
FROM EVRegistry
WHERE '%BEV%'

QUESTION (4)
Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?
ANSWER:
SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP > 2000 and BaseMSRP < 3500

7.2 HW Questions
Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.
Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.
Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.
Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.
Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.

QUESTION (5)
Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.
ANSWER:
SELECT *
FROM EVRegistry
WHERE City is NULL

QUESTION (6)
Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.
ANSWER:
SELECT ModelYear,Make,Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE Make AND Model LIKE '3E1EA1J'
ORDER BY Make,Model DESC

QUESTION(7)
Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.
ANSWER:
SELECT ModelYear, Make,Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE (Make = 'Tesla' or Make = 'Cheverolet')
order by make, ModelYear DESC

QUESTION(8)
Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.
ANSWER:
SELECT stationId, count(sessionId) as 'NumCharges'
FROM EVCharging
GROUP by stationId
ORDER by sessionId DESC
LIMIT 5

QUESTION (9)
Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.
ANSWER:
SELECT userId, 
 	min (chargeTimeHrs)as 'minTime',
 	max (chargeTimeHrs)as 'maxTime'
 FROM EVCharging
 where chargeTimeHrs >0.5 
 GROUP by userId
 order by 2,3

7.3
Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.
Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.
In your own words, Briefly explain Primary Keys and Foreign Keys.
Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING

QUESTION (1)
Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
ANSWER:
SELECT weekday,
 round (avg(chargeTimehrs), 2)
FROM EVCharging
group by 1
order by weekday DESC

QUESTION(2)
Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.
ANSWER:
SELECT userId,
round (sum(kwhTotal), 2)as 'TotalPower'
FROM EVCharging
group by userId
order by round(sum(kwhTotal), 2) DESC
LIMIT 15

QUESTION(3)
Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.
ANSWER:
SELECT 
	df.FacilityKey,
	df.typeFacility,
	count(DISTINCT fc.stationId) as 'numStations'
from dimFacility df
INNER JOIN factCharge fc
on	df.FacilityKey = fc.facilityID
GROUP by df.FacilityKey
ORDER by 3 DESC

QUESTION(4)
In your own words, Briefly explain Primary Keys and Foreign Keys.
ANSWER:
a primary key is specific to a particular table and assures the value in a specific column is unique.
a foreign key is used to build a connection 2 tables.

QUESTION (5)
Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING
ANSWER:
SELECT userId,
max(chargeTimehrs)as 'maxTime',
min(chargeTimehrs) as 'minTime'
from EVCharging
group by userId
HAVING min(chargeTimeHrs) > 1
order by 2,3